body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.35;
}

#scoreboard li {
  float: right;
  margin: 1rem 0;
}
#scoreboard li:first-child {
  float: left;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#container {
  width: 90vw;
  max-width: 900px;
  margin: 5vh auto 0;
}

#intro {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0 0 5vh;
  text-align: center;
}

#startBtn {
  transform: scale(1.5);
}

#info {
  text-align: center;
}

#game {
  background: blueviolet;
}

#background {
  background: #548cff;
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
  position: relative;
  width: 100%;
  max-width: 90vw;
  min-height: 400px;
  overflow: hidden;
}
/* alternate background gradients */
.sky-gradient-12 {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}
.sky-gradient-13 {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
}
.sky-gradient-14 {
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
}

.pikachu {
  /* background-color: greenyellow; */
  background-image: url("https://raw.githubusercontent.com/Jimfarrugia/pikachu-animation/master/img/pikachu-sprite-trans.png");
  background-position: -29px -141px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 52px;
  margin: 90px auto 13px 35%;
  transform: scale(2);
  animation: run 0.4s step-start infinite;
}

.diglet {
  /* background-color: greenyellow;
  background-image: url("https://raw.githubusercontent.com/Jimfarrugia/pikachu-animation/master/img/pikachu-sprite-trans.png");
  background-position: -29px -141px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 52px;
  margin: 90px auto 13px 35%;
  transform: scale(2);
  animation: run 0.4s step-start infinite; */
}

@keyframes run {
  25% {
    background-position: -89px -141px;
  }
  50% {
    background-position: -149px -141px;
  }
  75% {
    background-position: -209px -141px;
  }
}

.jumping {
  animation: jumping 0.5s linear infinite;
}

@keyframes jumping {
  0% {
    bottom: 0;
  }
  30% {
    bottom: 50px;
  }
  70% {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}

.cloud {
  position: absolute;
  height: 100px;
  top: 30px;
  animation: wind 1s linear infinite;
  transform: scale(0.75);
}
.cloud:nth-child(1) {
  animation-duration: 34s;
  right: 0;
}
.cloud:nth-child(2) {
  animation-duration: 55s;
  right: -300px;
}
.cloud:nth-child(3) {
  animation-duration: 89s;
  top: 40px;
  right: -500px;
}
.cloud:nth-child(4) {
  animation-duration: 144s;
  top: 40px;
  right: -800px;
}
.cloud:nth-child(5) {
  animation-duration: 233s;
  top: 40px;
  right: -1300px;
}

@keyframes wind {
  to {
    right: 100vw;
  }
}

#ground {
  height: 32px;
  width: 100%;
  max-width: 90vw;
  background: #c84c0c
    url("https://raw.githubusercontent.com/Jimfarrugia/pikachu-animation/master/img/groundblock32.png");
  animation: scroll-ground 0.25s linear infinite;
}

@keyframes scroll-ground {
  100% {
    background-position: -32px 0;
  }
}

/*
  Snowflakes
*/
.snowflake {
  display: absolute;
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}
@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: absolute;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
