.cloud {
  position: absolute;
  height: 100px;
  top: 5px;
  animation: wind 1s linear infinite;
  transform: scale(0.5);
}
.cloud:nth-child(1) {
  animation-duration: 34s;
  right: 0;
  top: 5px;
}
.cloud:nth-child(2) {
  animation-duration: 55s;
  top: 10px;
  right: -300px;
}
.cloud:nth-child(3) {
  animation-duration: 89s;
  top: 5px;
  right: -500px;
}
.cloud:nth-child(4) {
  animation-duration: 144s;
  top: 10px;
  right: -800px;
}
.cloud:nth-child(5) {
  animation-duration: 233s;
  top: 5px;
  right: -1300px;
}

@keyframes wind {
  to {
    right: 100%;
  }
}
