$bg-color: #000010;
$heading-color: rgba(255, 255, 255, 0);

$red-bleed-color: rgba(255, 0, 129, 1);
$blue-bleed-color: rgba(66, 198, 255, 1);
$dim-red-bleed-color: rgba(255, 0, 129, 0.1);
$dim-blue-bleed-color: rgba(66, 198, 255, 0.1);

$white-bleed: 0 0 0.125rem rgba(255, 255, 255, 0.9);
$red-bleed: -0.25rem -0.25rem 0.25rem $red-bleed-color;
$blue-bleed: 0.25rem 0.25rem 0.25rem $blue-bleed-color;

$dim-red-bleed: -0.25rem -0.25rem 0.25rem $dim-red-bleed-color;
$dim-blue-bleed: 0.25rem 0.25rem 0.25rem $dim-blue-bleed-color;

$color-bleed-shadow: $white-bleed, $red-bleed, $blue-bleed;
$red-flickering-shadow: $white-bleed, $red-bleed, $blue-bleed, $white-bleed,
  $dim-red-bleed, $blue-bleed;
$blue-flickering-shadow: $white-bleed, $red-bleed, $blue-bleed, $white-bleed,
  $red-bleed, $dim-blue-bleed;

.color-bleed {
  color: $heading-color;
  text-shadow: $color-bleed-shadow;
  animation: letter-flicker 2s ease-in-out infinite;
}

@keyframes letter-flicker {
  0% {
    text-shadow: $color-bleed-shadow;
  }
  2% {
    text-shadow: $red-flickering-shadow;
  }
  4% {
    text-shadow: $color-bleed-shadow;
  }
  19% {
    text-shadow: $blue-flickering-shadow;
  }
  21% {
    text-shadow: $color-bleed-shadow;
  }
  23% {
    text-shadow: $red-flickering-shadow;
  }
  80% {
    text-shadow: $color-bleed-shadow;
  }
  83% {
    text-shadow: $blue-flickering-shadow;
  }
  87% {
    text-shadow: $red-flickering-shadow;
  }
}
