.enemy-running {
  position: absolute;
  bottom: 0;
  right: -40px;
  animation: enemy-scroll 3s linear;
}

.enemy-flying {
  position: absolute;
  bottom: 70px;
  right: -40px;
  animation: enemy-scroll 2s linear;
  animation-delay: 2s;
}

@keyframes enemy-scroll {
  0% {
    right: -10px;
  }
  100% {
    right: 100%;
  }
}
