.pidgey {
  background: url("../img/pidgey-sprite-trans.png");
  background-position: -46px -2px;
  background-repeat: no-repeat;
  width: 40px;
  height: 34px;
  animation: pidgey-fly 0.4s infinite step-start;
}

@keyframes pidgey-fly {
  0% {
    background-position: -46px -2px;
  }
  25% {
    background-position: -88px -2px;
  }
  50% {
    background-position: -126px -2px;
  }
  75% {
    background-position: -88px -2px;
  }
}
