@import "reset";
@import "background";
@import "clouds";
@import "snowflakes";
@import "pikachu";
@import "diglet";
@import "pidgey";

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.35;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#container {
  width: 90vw;
  max-width: 900px;
  margin: 5vh auto 0;
}

#intro {
  padding: 0 0 5vh;
  text-align: center;
}

#startBtn {
  transform: scale(1.5);
}

#info {
  text-align: center;
}

#scoreboard li {
  float: right;
  margin: 1rem 0;
}
#scoreboard li:first-child {
  float: left;
}

#game {
  background: blueviolet;
}

.enemy-running {
  position: absolute;
  bottom: 5px;
  right: -40px;
  /* animation: enemy-scroll 3s infinite linear; */
}

.enemy-flying {
  position: absolute;
  bottom: 70px;
  right: -40px;
  /* animation: enemy-scroll 10s infinite linear; */
}

@keyframes enemy-scroll {
  0% {
    right: -10px;
  }
  100% {
    right: 100%;
  }
}
