@import "reset";
@import "fonts";
@import "background";
@import "clouds";
@import "snowflakes";
@import "pikachu";
@import "enemy";
@import "diglet";
@import "pidgey";
@import "colorBleed";
@import "startButton";

body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #dedede;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", Arial,
    sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.35;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.align-center {
  text-align: center;
}

#info {
  padding: 2rem 0;
}

#container {
  width: 90vw;
  max-width: 600px;
  margin: 5vh auto 0;
}

#scoreboard {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  li {
    font-family: "Pixeled", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      Arial, sans-serif;
    font-size: 0.5rem;
    float: right;

    &:first-child {
      float: left;
    }
  }
}
