@import "reset";
@import "fonts";
@import "background";
@import "clouds";
@import "snowflakes";
@import "pikachu";
@import "enemy";
@import "diglet";
@import "pidgey";
@import "colorBleed";
@import "startButton";

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.35;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.align-center {
  text-align: center;
}

#container {
  width: 90vw;
  max-width: 900px;
  margin: 5vh auto 0;
}

#scoreboard li {
  float: right;
  margin: 1rem 0;
}
#scoreboard li:first-child {
  float: left;
}
